<div class="container">
  <%= link_to 'Back', restaurants_path %>

  <h1> <%= @restaurant.name %> </h1>

  <h3> <%= @restaurant.category %></h3>

  <p> <%= @restaurant.address %></p>

  <p><strong> Reviews:</strong> <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %></p>
  <% @restaurant.reviews.each do | review | %>
    <p class="reviews"> <%= '⭐️' * review.rating%>
        <%= review.content %> </p>
  <% end %>
</div>
